@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
}

.content {
  display: block;
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 265px);
  margin-left: 265px;
  min-height: 100%;
  overflow: hidden;
}

.content #group-banner {
  position: relative;
  width: 100%;
  height: 225px;
  color: white;
  overflow: hidden;
}

.class-colour-1 { background-color: #1abc9c; }
.class-colour-2 { background-color: #16a085; }
.class-colour-3 { background-color: #2ecc71; }
.class-colour-4 { background-color: #27ae60; }
.class-colour-5 { background-color: #f1c40f; }
.class-colour-6 { background-color: #f39c12; }
.class-colour-7 { background-color: #e67e22; }
.class-colour-8 { background-color: #d35400; }
.class-colour-9 { background-color: #3498db; }
.class-colour-10 { background-color: #2980b9; }
.class-colour-11 { background-color: #e74c3c; }
.class-colour-12 { background-color: #c0392b; }
.class-colour-13 { background-color: #9b59b6; }
.class-colour-14 { background-color: #8e44ad; }
.class-colour-15 { background-color: #34495e; }
.class-colour-16 { background-color: #2c3e50; }

.content #group-banner .group-banner-flex {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content #group-banner .group-banner-flex .group-information {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content #group-banner .group-banner-flex .group-information h2 {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.content #group-banner .group-banner-flex .group-information h3 {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
}

.content #group-banner .group-banner-flex .group-teacher {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content #group-banner .group-banner-flex .group-teacher img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #efefef;
  background: #efefef;
  margin-bottom: -40%;
  box-shadow: -2px 2px 5px 5px rgba(0,0,0,0.2);
}

.content #group-nav {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background: #efefef;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.content #group-nav.top {
  position: fixed;
  z-index: 2;
  top: 0;
  width: calc(100% - 265px);
}

.content #group-nav.top .group-nav-flex .group-nav-right {
  display: none;
}

.content #group-nav .group-nav-flex {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #888;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content #group-nav .group-nav-flex .group-nav-left {
  position: relative;
  height: 100%;
}

.content #group-nav .group-nav-flex .group-nav-left a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  padding: 15px 0;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.content #group-nav .group-nav-flex .group-nav-left a:nth-child(1) {
  margin-left: 0;
}

.content #group-nav .group-nav-flex .group-nav-left a:hover,
.content #group-nav .group-nav-flex .group-nav-right a:hover {
  color: #333;
}

#nav-selected-1, #nav-selected-2, #nav-selected-3,
#nav-selected-4, #nav-selected-5, #nav-selected-6,
#nav-selected-7, #nav-selected-8, #nav-selected-9,
#nav-selected-10, #nav-selected-11, #nav-selected-12,
#nav-selected-13, #nav-selected-14, #nav-selected-15,
#nav-selected-16 {
  color: #333;
}

#nav-selected-1 { border-bottom: 5px solid #1abc9c; }
#nav-selected-2 { border-bottom: 5px solid #16a085; }
#nav-selected-3 { border-bottom: 5px solid #2ecc71; }
#nav-selected-4 { border-bottom: 5px solid #27ae60; }
#nav-selected-5 { border-bottom: 5px solid #f1c40f; }
#nav-selected-6 { border-bottom: 5px solid #f39c12; }
#nav-selected-7 { border-bottom: 5px solid #e67e22; }
#nav-selected-8 { border-bottom: 5px solid #d35400; }
#nav-selected-9 { border-bottom: 5px solid #3498db; }
#nav-selected-10 { border-bottom: 5px solid #2980b9; }
#nav-selected-11 { border-bottom: 5px solid #e74c3c; }
#nav-selected-12 { border-bottom: 5px solid #c0392b; }
#nav-selected-13 { border-bottom: 5px solid #9b59b6; }
#nav-selected-14 { border-bottom: 5px solid #8e44ad; }
#nav-selected-15 { border-bottom: 5px solid #34495e; }
#nav-selected-16 { border-bottom: 5px solid #2c3e50; }

.content #group-nav .group-nav-flex .group-nav-right {
  padding: 15px 0;
  height: 100%;
  width: 170px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.content #group-nav .group-nav-flex .group-nav-right a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
}

.content .group-content {
  position: relative;
  width: 100%;
}

.content .group-content .text-message {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  padding: 50px 20px;
}

.content .group-content .text-message a {
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
}

.content .group-content .text-message a:hover {
  text-decoration: underline;
}

.content .group-content .text-message span {
  font-weight: bold;
  color: #c0392b;
}

.content .group-content #not-member.failed {
  color: #c0392b;
}

.content .group-content #not-member.success {
  color: #27ae60;
}

.content .group-content .student-number {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  padding: 20px 0 0 0;
}

.content .group-content .students-flex,
.content .group-content .files-flex  {
  position: relative;
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
  padding: 30px 0;

  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.content .group-content .students-flex a {
  position: relative;
  height: 60px;
  background: #fefefe;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
  text-decoration: none;
  margin: 0 10px 20px 10px;
}

.content .group-content .students-flex a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px 5px 10px 20px;
  float: left;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.content .group-content .students-flex a span {
  line-height: 60px;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px 0 10px;
}

.content .group-content .students-flex a:hover {
  color: #000;
  font-weight: bold;
}

.content .group-content .files-flex a {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 90%;
  max-width: 350px;
  height: 72px;
  padding: 0;
  margin: 0 20px 20px 20px;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: none;
  border-radius: 3px;
  background: #efefef;
  overflow: hidden;
  text-decoration: none;
  font-size: 13px;
  color: #333;
}

.content .group-content .files-flex a:hover {
  background: #e7e7e7;
}

.content .group-content .files-flex a > *:nth-child(1) {
  display: inline-block;
  width: 115px;
  height: 70px;
  float: left;
}

.content .group-content .files-flex a .post-att-info {
  display: inline-block;
  padding: 0 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .group-content .files-flex a .post-att-info span {
  padding: 1px 0;
}

.content .group-content .files-flex a .post-att-info span:nth-child(2) {
  font-weight: 300;
}

.content .group-content .files-flex a .post-att-img,
.content .group-content .files-flex a .post-att-word,
.content .group-content .files-flex a .post-att-ppt,
.content .group-content .files-flex a .post-att-excel,
.content .group-content .files-flex a .post-att-pdf,
.content .group-content .files-flex a .post-att-code,
.content .group-content .files-flex a .post-att-zip,
.content .group-content .files-flex a .post-att-text,
.content .group-content .files-flex a .post-att-r-text,
.content .group-content .files-flex a .post-att-undef {
  background-size: cover;
  background-position: center;
}

.content .group-content .files-flex a .post-att-word {
  background-image: url(../images/attachments/word.gif);
}

.content .group-content .files-flex a .post-att-ppt {
  background-image: url(../images/attachments/ppt.gif);
}

.content .group-content .files-flex a .post-att-excel {
  background-image: url(../images/attachments/excel.gif);
}

.content .group-content .files-flex a .post-att-pdf {
  background-image: url(../images/attachments/pdf.gif);
}

.content .group-content .files-flex a .post-att-code {
  background-image: url(../images/attachments/code.gif);
}

.content .group-content .files-flex a .post-att-zip {
  background-image: url(../images/attachments/zip.gif);
}

.content .group-content .files-flex a .post-att-text {
  background-image: url(../images/attachments/text.gif);
}

.content .group-content .files-flex a .post-att-r-text {
  background-image: url(../images/attachments/text.gif);
}

.content .group-content .files-flex a .post-att-undef {
  background-image: url(../images/attachments/undef.gif);
}

.content .group-content .files-flex a > iframe:nth-child(1) {
  border: 0;
  overflow: hidden;
  pointer-events:none;
}

.group-content-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  max-width: 1000px;
  padding: 20px 0;
  margin: 0 auto;
}

.group-content-sidebar {
  width: 250px;
}

.group-content-sidebar .group-timetable {
  background: white;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  color: #7f8c8d;
  user-select: none;
  -webkit-user-select: none;
}

.group-content-sidebar .group-timetable h4 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 15px;
}

.group-content-sidebar .group-timetable .group-timetable-dates {
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #7f8c8d;
  padding-top: 10px;
}

.group-content-sidebar .group-timetable .group-timetable-dates .group-timetable-weekdays span {
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 10px;
  width: 30px;
  text-align: center;
  float: left;
}

#timetable-dates-flex {
  position: relative;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}

#timetable-dates-flex .timetable-offset {
  position: relative;
  height: 24px;
}

#timetable-dates-flex .timetable-date {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 3px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}

#timetable-dates-flex .timetable-date span::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  height: 5px;
  width: 5px;
  left: 9.5px;
  border-radius: 50%;
}

#timetable-dates-flex .timetable-date.free span::after {
  background: #23FF61;
}

#timetable-dates-flex .timetable-date.disabled {
  color: #bdc3c7;
}

#timetable-dates-flex .timetable-date.selected {
  background: #ddd;
  color: #34495e;
}

.group-content-sidebar .group-timetable .group-timetable-key {
  margin-top: 15px;
}

.group-content-sidebar .group-timetable .group-timetable-key span {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 20px;
  box-sizing: border-box;
}

.group-content-sidebar .group-timetable .group-timetable-key span::before {
  content: " ";
  display: block;
  position: absolute;
  left: 10px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #23FF61;
}

.group-content-flex #group-content-feed {
  position: relative;
  width: calc(100% - 280px);
}

#group-content-feed {
  text-align: center;
}

#group-content-feed .post {
  position: relative;
  box-sizing: border-box;
  display: block;
  background: white;
  text-align: left;
  width: 100%;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
  max-width: 900px;
  margin-bottom: 20px;
}

#group-content-feed .post > * {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px;
  display: block;
  clear: both;
}

#group-content-feed .post .post-header {
  padding-top: 15px;
  height: 60px;
  margin-bottom: 10px;
}

#group-content-feed .post .post-header:after {
  position: absolute;
  display: block;
  content: " ";
  background: #888;
  width: calc(100% - 60px);
  height: 1px;
  bottom: 0;
  left: 30px;
}

#group-content-feed .post .post-header .pull-left {
  float: left;
}

#group-content-feed .post .post-header .pull-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 0 20px 0 10px;
}

#group-content-feed .post .post-header .pull-left .post-image-container {
  float: left;
  font-size: 15px;
  line-height: 18px;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-title {
  font-weight: 400;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-title .post-title-teacher {
  font-weight: 500;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-title a {
  color: black;
  text-decoration: none;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-title a:hover {
  text-decoration: underline;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-title::after {
  display: block;
  content: " ";
  clear: both;
}

#group-content-feed .post .post-header .pull-left .post-image-container .post-date {
  color: #555;
  font-size: 14px;
}

#group-content-feed .post .post-header .pull-right {
  float: right;
  height: 100%;
}

#group-content-feed .post .post-header .pull-right .assignment-indicator {
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
}

#group-content-feed .post .post-header .pull-right .assignment-indicator.ai-0 {
  background: #27ae60;
}

#group-content-feed .post .post-header .pull-right .assignment-indicator.ai-1 {
  background: #f39c12;
}

#group-content-feed .post .post-header .pull-right .assignment-indicator.ai-2 {
  background: #e74c3c;
}

#group-content-feed .post .post-content {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

#group-content-feed .post .post-content h3 {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

#group-content-feed .post .post-content p {
  margin: 0;
  margin-bottom: 15px;
}

#group-content-feed .post .post-content a.post-attachment {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: 72px;
  padding: 0;
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: none;
  border-radius: 3px;
  background: #efefef;
  overflow: hidden;
}

#group-content-feed .post .post-content a.post-attachment:hover {
  background: #e7e7e7;
}

#group-content-feed .post .post-content .post-attachment > *:nth-child(1) {
  display: inline-block;
  width: 115px;
  height: 70px;
  float: left;
}

#group-content-feed .post .post-content .post-attachment .post-att-info {
  display: inline-block;
  padding: 0 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#group-content-feed .post .post-content .post-attachment .post-att-info span {
  padding: 1px 0;
}

#group-content-feed .post .post-content .post-attachment .post-att-info span:nth-child(2) {
  font-weight: 300;
}

#group-content-feed .post .post-content .post-attachment .post-att-img,
#group-content-feed .post .post-content .post-attachment .post-att-word,
#group-content-feed .post .post-content .post-attachment .post-att-ppt,
#group-content-feed .post .post-content .post-attachment .post-att-excel,
#group-content-feed .post .post-content .post-attachment .post-att-pdf,
#group-content-feed .post .post-content .post-attachment .post-att-code,
#group-content-feed .post .post-content .post-attachment .post-att-zip,
#group-content-feed .post .post-content .post-attachment .post-att-text,
#group-content-feed .post .post-content .post-attachment .post-att-r-text,
#group-content-feed .post .post-content .post-attachment .post-att-undef {
  background-size: cover;
  background-position: center;
}

#group-content-feed .post .post-content .post-attachment .post-att-word {
  background-image: url(../images/attachments/word.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-ppt {
  background-image: url(../images/attachments/ppt.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-excel {
  background-image: url(../images/attachments/excel.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-pdf {
  background-image: url(../images/attachments/pdf.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-code {
  background-image: url(../images/attachments/code.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-zip {
  background-image: url(../images/attachments/zip.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-text,
#group-content-feed .post .post-content .post-attachment .post-att-r-text {
  background-image: url(../images/attachments/text.gif);
}

#group-content-feed .post .post-content .post-attachment .post-att-undef {
  background-image: url(../images/attachments/undef.gif);
}

#group-content-feed .post .post-content .post-attachment > iframe:nth-child(1) {
  border: 0;
  overflow: hidden;
  pointer-events:none;
}

#group-content-feed .post .post-content > a {
  background: #eee;
  text-decoration: none;
  color: inherit;
  padding: 10px 13px;
  margin-right: 10px;
  font-size: 12px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

#group-content-feed .post .post-content > a:hover {
  color: #000;
  background: #dedede;
}

#group-content-feed .post .post-comment {
  border-top: 1px solid #ddd;
  background: #fafafa;
  display: block;
  padding: 15px 30px;
}

#group-content-feed .post .post-comment > a,
#group-content-feed .post .post-comment .post-comment-section > a {
  font-size: 13px;
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
  margin-left: 40px;
}

#group-content-feed .post .post-comment > a:hover,
#group-content-feed .post .post-comment .post-comment-section > a:hover {
  color: #2A7CB2;
  text-decoration: underline;
}

#group-content-feed .post .post-comment > a.hidden {
  display: none;
}

#group-content-feed .post .post-comment .post-comment-section {
  display: none;
}

#group-content-feed .post .post-comment .post-comment-section.shown {
  display: block;
}

#group-content-feed .post .post-comment .comment {
  margin: 10px 0;
}

#group-content-feed .post .post-comment .post-comment-section .comment {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
}

#group-content-feed .post .post-comment .comment img,
#group-content-feed .post .post-comment .post-comment-section .comment img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  margin-right: 10px;
}

#group-content-feed .post .post-comment .post-comment-section .comment div {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

#group-content-feed .post .post-comment .post-comment-section .comment div span a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

#group-content-feed .post .post-comment .post-comment-section .comment div span a:hover {
  text-decoration: underline;
}

#group-content-feed .post .post-comment .post-comment-section .comment div span {
  color: #666;
  font-weight: 300;
}

#group-content-feed .post .post-comment .post-comment-section .comment div p {
  margin: 5px 0 0 0;
  line-height: 1.3;
  color: #333;
}

#group-content-feed .post .post-comment .comment .comment-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: calc(100% - 40px);
}

#group-content-feed .post .post-comment .comment .comment-input textarea {
  position: relative;
  width: 100%;
  resize: none;
  border: none;
  background: none;
  outline: none;
  line-height: 2;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
}

#group-content-feed .post .post-comment .comment .comment-input.in-use textarea {
  border-bottom: 2px solid #555;
}

#group-content-feed .post .post-comment .comment .comment-input a {
  display: none;
  height: auto;
  background: #4d90fe;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 15px;
  margin-left: 20px;
  cursor: pointer;
}

#group-content-feed .post .post-comment .comment .comment-input.in-use a:hover {
  background: #357ae8;
}

#group-content-feed .post .post-comment .comment .comment-input.in-use a {
  display: block;
}

#group-content-feed #load-more-posts {
  display: inline-block;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 2px;
  background: #43c5b8;
  color: white;
  cursor: pointer;
}

#group-content-feed #load-more-posts:hover {
  background: #3eb8be;
}

#group-content-feed p {
  font-size: 13px;
  color: #333;
}
