@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
  position: relative;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background: #efefef;
}

.content {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 490px);
  margin-left: 265px;
  padding: 30px 60px;
  min-height: 100%;
  text-align: center;
  z-index: 1;
}

.content > p {
  font-size: 13px;
  color: #666;
  padding: 50p 0x;
  text-align: center;
}

.content > p span {
  display: block;
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.content > p a {
  clear: both;
  position: relative;
  display: inline-block;
  margin-top: 25px;
  padding: 4px 10px;
  border: 1px solid #888;
  background: none;
  font-family: inherit;
  color: #888;
  line-height: 1.5;
  font-size: 11px;
  outline: none;
}

.content > p > a:hover {
  color: #43c5b8;
  border: 1px solid #43c5b8;
  cursor: pointer;
}

.content > img {
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.content > * {
  position: relative;
  box-sizing: border-box;
  display: block;
  text-align: left;
}

.content .post {
  width: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
  max-width: 900px;
  margin-bottom: 30px;
  background: white;
}

.content .post > * {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  display: block;
  clear: both;
  padding: 15px 30px;
}

.content .post .post-header {
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}

.content .post .post-header:after {
  position: absolute;
  display: block;
  content: " ";
  background: #888;
  width: calc(100% - 60px);
  height: 1px;
  bottom: 0;
  left: 30px;
}

.content .post .post-header .pull-left {
  float: left;
}

.content .post .post-header .pull-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 0 20px 0 10px;
}

.content .post .post-header .pull-left .post-image-container {
  float: left;
  font-size: 15px;
  line-height: 18px;
}

.content .post .post-header .pull-left .post-image-container .post-title {
  font-weight: 400;
}

.content .post .post-header .pull-left .post-image-container .post-title .post-title-teacher {
  font-weight: 500;
}

.content .post .post-header .pull-left .post-image-container .post-title a {
  color: black;
  text-decoration: none;
}

.content .post .post-header .pull-left .post-image-container .post-title a:hover {
  text-decoration: underline;
}

.content .post .post-header .pull-left .post-image-container .post-title::after {
  display: block;
  content: " ";
  clear: both;
}

.content .post .post-header .pull-left .post-image-container .post-date {
  color: #555;
  font-size: 14px;
}

.content .post .post-header .pull-right {
  float: right;
  height: 100%;
}

.content .post .post-header .pull-right .assignment-indicator {
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
}

.content .post .post-header .pull-right .assignment-indicator.ai-0 {
  background: #27ae60;
}

.content .post .post-header .pull-right .assignment-indicator.ai-1 {
  background: #f39c12;
}

.content .post .post-header .pull-right .assignment-indicator.ai-2 {
  background: #e74c3c;
}

.content .post .post-content {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

.content .post .post-content h3 {
  margin: 0 0 10px 0;
  line-height: 1.5;
}

.content .post .post-content p {
  margin: 0;
  margin-bottom: 15px;
}

.content .post .post-content a.post-attachment {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: 72px;
  padding: 0;
  margin-bottom: 5px;
  border: 1px solid rgba(0,0,0,0.12);
  box-shadow: none;
  border-radius: 3px;
  background: #efefef;
  overflow: hidden;
}

.content .post .post-content a.post-attachment:hover {
  background: #e7e7e7;
}

.content .post .post-content .post-attachment > *:nth-child(1) {
  display: inline-block;
  width: 115px;
  height: 70px;
  float: left;
}

.content .post .post-content .post-attachment .post-att-info {
  display: inline-block;
  padding: 0 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .post .post-content .post-attachment .post-att-info span {
  padding: 1px 0;
}

.content .post .post-content .post-attachment .post-att-info span:nth-child(2) {
  font-weight: 300;
}

.content .post .post-content .post-attachment .post-att-img,
.content .post .post-content .post-attachment .post-att-word,
.content .post .post-content .post-attachment .post-att-ppt,
.content .post .post-content .post-attachment .post-att-excel,
.content .post .post-content .post-attachment .post-att-pdf,
.content .post .post-content .post-attachment .post-att-code,
.content .post .post-content .post-attachment .post-att-zip,
.content .post .post-content .post-attachment .post-att-text,
.content .post .post-content .post-attachment .post-att-r-text,
.content .post .post-content .post-attachment .post-att-undef {
  background-size: cover;
  background-position: center;
}

.content .post .post-content .post-attachment .post-att-word {
  background-image: url(../images/attachments/word.gif);
}

.content .post .post-content .post-attachment .post-att-ppt {
  background-image: url(../images/attachments/ppt.gif);
}

.content .post .post-content .post-attachment .post-att-excel {
  background-image: url(../images/attachments/excel.gif);
}

.content .post .post-content .post-attachment .post-att-pdf {
  background-image: url(../images/attachments/pdf.gif);
}

.content .post .post-content .post-attachment .post-att-code {
  background-image: url(../images/attachments/code.gif);
}

.content .post .post-content .post-attachment .post-att-zip {
  background-image: url(../images/attachments/zip.gif);
}

.content .post .post-content .post-attachment .post-att-text,
.content .post .post-content .post-attachment .post-att-r-text {
  background-image: url(../images/attachments/text.gif);
}

.content .post .post-content .post-attachment .post-att-undef {
  background-image: url(../images/attachments/undef.gif);
}

.content .post .post-content .post-attachment > iframe:nth-child(1) {
  border: 0;
  overflow: hidden;
  pointer-events:none;
}

.content .post .post-content > a {
  background: #eee;
  text-decoration: none;
  color: inherit;
  padding: 10px 13px;
  margin-right: 10px;
  font-size: 12px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

.content .post .post-content > a:hover {
  color: #000;
  background: #dedede;
}

.content .post .post-comment {
  border-top: 1px solid #ddd;
  background: #fafafa;
  display: block;
}

.content .post .post-comment > a,
.content .post .post-comment .post-comment-section > a {
  font-size: 13px;
  color: #3498db;
  text-decoration: none;
  cursor: pointer;
  margin-left: 40px;
}

.content .post .post-comment > a:hover,
.content .post .post-comment .post-comment-section > a:hover {
  color: #2A7CB2;
  text-decoration: underline;
}

.content .post .post-comment > a.hidden {
  display: none;
}

.content .post .post-comment .post-comment-section {
  display: none;
}

.content .post .post-comment .post-comment-section.shown {
  display: block;
}

.content .post .post-comment .comment {
  margin: 10px 0;
}

.content .post .post-comment .post-comment-section .comment {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.content .post .post-comment .comment img,
.content .post .post-comment .post-comment-section .comment img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  margin-right: 10px;
}

.content .post .post-comment .post-comment-section .comment div {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.content .post .post-comment .post-comment-section .comment div span a {
  font-weight: 400;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

.content .post .post-comment .post-comment-section .comment div span a:hover {
  text-decoration: underline;
}

.content .post .post-comment .post-comment-section .comment div span {
  color: #666;
  font-weight: 300;
}

.content .post .post-comment .post-comment-section .comment div p {
  margin: 5px 0 0 0;
  line-height: 1.3;
  color: #333;
}

.content .post .post-comment .comment .comment-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: calc(100% - 40px);
}

.content .post .post-comment .comment .comment-input textarea {
  position: relative;
  width: 100%;
  resize: none;
  border: none;
  background: none;
  outline: none;
  line-height: 2;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
}

.content .post .post-comment .comment .comment-input.in-use textarea {
  border-bottom: 2px solid #555;
}

.content .post .post-comment .comment .comment-input a {
  display: none;
  height: auto;
  background: #4d90fe;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 15px;
  margin-left: 20px;
  cursor: pointer;
}

.content .post .post-comment .comment .comment-input.in-use a:hover {
  background: #357ae8;
}

.content .post .post-comment .comment .comment-input.in-use a {
  display: block;
}

.content #load-more-posts {
  display: inline-block;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 2px;
  background: #43c5b8;
  color: white;
  cursor: pointer;
}

.content #load-more-posts:hover {
  background: #3eb8be;
}

@media (max-width: 1100px) {
  .content {
    width: calc(100% - 265px);
  }

  #sidebar-right {
    display: none;
  }
}

#tutorial-content.num1,
#tutorial-content.num2,
#tutorial-content.num3,
#tutorial-content.num4,
#tutorial-content.num5 {
  display: block;
}

#tutorial-content.num1 #tutorial-bar span:nth-child(1),
#tutorial-content.num2 #tutorial-bar span:nth-child(2),
#tutorial-content.num4 #tutorial-bar span:nth-child(4),
#tutorial-content.num5 #tutorial-bar span:nth-child(5) {
  background: white;
}

#tutorial-content.num3 #tutorial-bar span:nth-child(3) {
  background: black;
}

#tutorial-content.num2 .tutorial-screen:nth-child(2),
#tutorial-content.num3 .tutorial-screen:nth-child(3),
#tutorial-content.num4 .tutorial-screen:nth-child(4),
#tutorial-content.num5 .tutorial-screen:nth-child(5) {
  display: block;
}

#tutorial-content.num1 .tutorial-screen:nth-child(1) {
  display: flex;
}

#tutorial-content {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 30;
  color: white;
  cursor: default;
}

#tutorial-content #tutorial-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tutorial-content #tutorial-bar div {
  width: 100%;
  display: flex;
  justify-content: center;
  align: items: center;
}

#tutorial-content #tutorial-bar div span {
  display: block;
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 5px;
  border: 3px solid white;
  cursor: pointer;
  transform: scale(1);
}

#tutorial-content #tutorial-bar div span:hover {
  transform: scale(0.9);
  background: rgba(0,0,0,0.3);
}

#tutorial-content.num3 #tutorial-bar div span {
  border: 3px solid #333;
}

#tutorial-content #tutorial-bar p {
  font-size: 12px;
  cursor: pointer;
}

#tutorial-content.num3 #tutorial-bar p {
  color: #333;
}

#tutorial-content .tutorial-screen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#tutorial-content .tutorial-screen:nth-child(1) {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(27, 80, 115, 0.95);
}

#tutorial-content .tutorial-screen p {
  line-height: 1.6;
  font-size: 14px;
}

#tutorial-content .tutorial-screen button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px 15px;
  margin: none;
  font-size: 13px;
  outline: none;
}

#tutorial-content .tutorial-screen button:hover {
  cursor: pointer;
  background: white;
  color: black;
}

#tutorial-content .highlighter {
  position: fixed;
  box-sizing: border-box;
  box-shadow: inset 0 0 8px 2px rgba(230,126,34,0.6);
  border: 5px solid #e67e22;
}

#tutorial-content .backgrounder {
  position: fixed;
  background: rgba(27, 80, 115, 0.8);
}

#tutorial-content .hl-1 {
  top: 80px;
  left: 0;
  width: 264px;
  height: 400px;
}

#tutorial-content .bg-1 {
  top: 0;
  left: 264px;
  width: calc(100vw - 264px);
  height: 100vh;
}

#tutorial-content .bg-2 {
  top: 0;
  left: 0;
  width: 264px;
  height: 80px;
}

#tutorial-content .bg-3 {
  top: 480px;
  left: 0;
  width: 264px;
  height: calc(100vh - 480px);
}

#tutorial-content .hl-2 {
  top: 30px;
  left: 190px;
  width: 74px;
  height: 60px;
  border-right: none;
  box-shadow: none;
}

#tutorial-content .hl-3 {
  top: 0;
  left: 259px;
  width: 561px;
  height: 30px;
  border-bottom: none;
  box-shadow: none;
}

#tutorial-content .hl-4 {
  top: 30px;
  left: 800px;
  width: 20px;
  height: 60px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  box-shadow: none;
}

#tutorial-content .hl-5 {
  top: 90px;
  left: 259px;
  width: 561px;
  height: calc(100% - 90px);
  border-top: none;
  box-shadow: none;
}

#tutorial-content .bg-4 {
  top: 0;
  left: 0;
  width: 259px;
  height: 30px;
}

#tutorial-content .bg-5 {
  top: 30px;
  left: 0;
  width: 190px;
  height: 60px;
}

#tutorial-content .bg-6 {
  top: 90px;
  left: 0;
  width: 259px;
  height: calc(100vh - 90px);
}

#tutorial-content .bg-7 {
  top: 0;
  left: 820px;
  width: calc(100vw - 820px);
  height: 100vh;
}

#tutorial-content .hl-6 {
  bottom: 0;
  right: 0;
  width: 85px;
  height: 85px;
}

#tutorial-content .bg-8 {
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 85px);
}

#tutorial-content .bg-9 {
  top: calc(100vh - 85px);
  left: 0;
  width: calc(100vw - 85px);
  height: 85px;
}

#tutorial-content .hl-7 {
  bottom: 0;
  left: 0;
  width: 264px;
  height: 120px;
}

#tutorial-content .bg-10 {
  top: 0;
  left: 0;
  height: calc(100vh - 120px);
  width: 100vw;
}

#tutorial-content .bg-11 {
  top: calc(100vh - 120px);
  left: 264px;
  height: 120px;
  width: calc(100vw - 264px);
}

#tutorial-content > div img {
  position: relative;
}

#tutorial-content .text-1 {
  position: relative;
  z-index: 5;
  margin-top: 140px;
  margin-left: 270px;
  width: 300px;
}

#tutorial-content .text-1 img,
#tutorial-content .text-2 img {
  width: 50%;
  height: auto;
}

#tutorial-content .text-1 p {
  position: relative;
  width: calc(100% - 20px);
  margin-left: 20px;
}

#tutorial-content .text-2 {
  position: relative;
  z-index: 5;
  width: 230px;
  margin-left: 10px;
  margin-top: 50px;
}

#tutorial-content .text-2 img {
  margin-left: 60px;
}

#tutorial-content .text-3 {
  position: absolute;
  z-index: 5;
  width: 200px;
  right: 90px;
  bottom: 20px;
}

#tutorial-content .text-3 img {
  position: relative;
  width: 50%;
  float: right;
  margin: none;
}

#tutorial-content .text-3 p {
  margin-bottom: -40px;
}

#tutorial-content .text-4 {
  position: absolute;
  bottom: 40px;
  z-index: 5;
  width: 200px;
  margin-left: 270px;
}

#tutorial-content .text-4 img {
  position: relative;
  width: 60%;
  height: auto;
  margin-top: -40px;
}

#tutorial-content .text-4 button {
  float: right;
}

#tutorial-content .text-4 p {
  margin-left: 20px;
}
