@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500');

body {
  position: absolute;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.page {
  position: relative;
  width: 100%;
  height: calc(100% - 68px);
  margin-top: 68px;
  z-index: 0;
}

.content {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 525.172px);
  margin-left: 300.172px;
  padding: 30px 60px;
  background: #fefefe;
  min-height: 100%;
}

.class-colour-1 { background: #1abc9c; }
.class-colour-2 { background: #16a085; }
.class-colour-3 { background: #f1c40f; }
.class-colour-4 { background: #f39c12; }
.class-colour-5 { background: #2ecc71; }
.class-colour-6 { background: #27ae60; }
.class-colour-7 { background: #e67e22; }
.class-colour-8 { background: #d35400; }
.class-colour-9 { background: #3498db; }
.class-colour-10 { background: #2980b9; }
.class-colour-11 { background: #e74c3c; }
.class-colour-12 { background: #c0392b; }
.class-colour-13 { background: #9b59b6; }
.class-colour-14 { background: #8e44ad; }
.class-colour-15 { background: #34495e; }
.class-colour-16 { background: #2c3e50; }

.content > * {
  position: relative;
  box-sizing: border-box;
  display: block;
  background: white;
}

.content .post {
  width: 100%;
  padding: 15px 30px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.2);
  max-width: 900px;
  margin-bottom: 20px;
}

.content .post > * {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0;
  display: block;
  clear: both;
}

.content .post .post-header {
  border-bottom: 1px solid #888;
  height: 60px;
  margin-bottom: 10px;
}

.content .post .post-header .pull-left {
  float: left;
}

.content .post .post-header .pull-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: left;
  display: inline-block;
  margin: 0 20px 0 10px;
}

.content .post .post-header .pull-left .post-image-container {
  float: left;
  font-size: 15px;
  line-height: 18px;
}

.content .post .post-header .pull-left .post-image-container .post-title {
  font-weight: 500;
}

.content .post .post-header .pull-left .post-image-container .post-title span {
  font-weight: 400;
}

.content .post .post-header .pull-left .post-image-container .post-title span a {
  color: black;
  text-decoration: none;
}

.content .post .post-header .pull-left .post-image-container .post-title span a:hover {
  text-decoration: underline;
}

.content .post .post-header .pull-left .post-image-container .post-title::after {
  display: block;
  content: " ";
  clear: both;
}

.content .post .post-header .pull-left .post-image-container .post-date {
  color: #555;
  font-size: 14px;
}

.content .post .post-header .pull-right {
  float: right;
  height: 100%;
}

.content .post .post-header .pull-right .assignment-indicator {
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.5);
}

.content .post .post-header .pull-right .assignment-indicator.ai-0 {
  background: #27ae60;
}

.content .post .post-content {
  font-size: 14px;
  color: #555;
  line-height: 1.4;
}

.content .post .post-content p {
  margin: 0;
  margin-bottom: 15px;
}

.content .post .post-content a {
  background: #eee;
  text-decoration: none;
  color: inherit;
  padding: 5px;
  margin-right: 10px;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
}

.content .post .post-content a:hover {
  color: #333;
}

@media (max-width: 1100px) {
  .content {
    width: calc(100% - 300.172px);
  }

  .content .post  {
    width: calc(100vw - 450px);
  }

  #sidebar-right {
    display: none;
  }
}
